/* #lightbox-container {
    display: none;
    margin: 0 10%;
    min-height: 100vh;

    display: flex;
} */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 10;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* .lightbox-img img {
    width: 90%;
    height: 100%;
}
.lightbox-close-container {
    display: flex;
    justify-content: flex-end;
} */

.lightbox-container {
    width: 90%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
}

.lightbox-close {
    background: none;
    border: none;
    width: 1.6em;
    height: 1.6em;
    margin-left: 96%;
    padding-top: 2%;
    cursor: pointer;
}

.lightbox-next,
.lightbox-prev {
  background: none;
  border: none;
  position: relative;
  top: 50%;
  z-index: 11;
  cursor: pointer; 
}

.lightbox-next {
    right: -91%;
}

.lightbox-prev{
    left: -91%;
}



/* .lightbox-img {
    height: 90%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */



/* @media screen and (max-width: 1000px) {
    lightbox__close {
        margin-left: 91%;
        margin-top: 1%;
    }

    lightbox__image {
        width: 90%;
        height: auto;
    }

    lightbox__image>img {
        width: 100%;
        height: 100%;
    }
} */