/* #lightbox-container {
    display: none;
    margin: 0 10%;
    min-height: 100vh;

    display: flex;
} */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    z-index: 10;

    /* transform: scale(0.1); */

    opacity: 0;
    visibility: hidden;
    /* width: 300px;
    height: 300px; */
    transition: opacity 1s ease-in-out;

}

.active {
    /* transform: scale(1);
    transition: transform 1s ease-in-out;
    opacity: 1; */

    opacity: 1;
    visibility: visible;

}
/* 
    transform: scale(0.1);
    opacity: 0;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */

    /* display: flex;
    align-items: center;
    justify-content: center; */


/* .lightbox-img img {
    width: 90%;
    height: 100%;
}
.lightbox-close-container {
    display: flex;
    justify-content: flex-end;
} */

.lightbox-container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5% 0;

    display: flex;
    align-items: center;
}

.lightbox-container img{
    max-width: 90% !important;
    max-height: 90%;
    margin: auto;
}

.lightbox-close {
    background: none;
    border: none;
    width: 1.8em;
    height: 1.8em;
    margin-left: 94%;
    padding-top: 8%;
    cursor: pointer;
}

.lightbox-close>img {
    transition: transform .5s ease-in-out;

}
.lightbox-close>img:hover {
    transform: rotate(90deg);
}

.lightbox-next,
.lightbox-prev {
  background: aliceblue;
  /* background: none; */
  border: none;
  position: relative;
  top: 50%;
  width: 10%;
  z-index: 11;
  cursor: pointer; 
}

.lightbox-next {
    /* right: -94%; */
    margin-left: 94%;
}

.lightbox-prev{
    /* left: -94%; */
    width: 9%;
    /* margin-left: 2%; */
    position: relative;
    top: 52%;
}



/* .lightbox-img {
    height: 90%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */



/* @media screen and (max-width: 1000px) {
    lightbox__close {
        margin-left: 91%;
        margin-top: 1%;
    }

    lightbox__image {
        width: 90%;
        height: auto;
    }

    lightbox__image>img {
        width: 100%;
        height: 100%;
    }
} */

    /* animations */


/* .lightbox {
    overflow: hidden;
    transform: scale(.1);
    transition: transform 330ms ease-in-out;
}    */