.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
   
   /* Titre du site */

.nom-site {
    font-family: 'space-mono-bolditalic';
    font-size: 6em;
    font-weight: 700;
    line-height: 142px;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;

    position: absolute;
}

    /* hero background image */

.hero-container > img {
    width: 100%;
    height: 60em;
    object-fit: cover;
}

@media all and (max-width: 1000px) {
    .nom-site {
        font-size: 4.5em;
    }
}

@media all and (max-width: 800px) {
    .nom-site {
        font-size: 3.5em;
    }
}

@media all and (max-width: 620px) {
    .nom-site {
        font-size: 2.5em;
    }
}

@media all and (max-width: 440px) {
    .nom-site {
        font-size: 1.6em;
    }
}


    /* galerie photos */

    /* .galerie-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .galerie-img {
        width: 48%;
        margin-bottom: 20px;
    }
    
    @media screen and (max-width: 768px) {
        .galerie-img {
            width: 100%;
        }
    } */


.galerie{
    margin: 0 10%;
    
    display: flex;
    flex-direction: column;
}

.galerie-container {
    columns: 2;
}

.galerie-img img{
    width: 39vw;
    height: 39vw;
    max-height: 567px;
    padding-right: 1%;
}

@media all and (max-width: 480px){

    .galerie-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galerie-container img, .galerie-img{
        width: 75vw;
        height: 75vw;
        padding-top: 2%;
        padding-right: 0;
    }
}


        /* galerie icones et txt  */

.galerie-img-titre {

}

.galerie-cat {

}


.icon-fullscreen {
    /* position: absolute;
    right: 0%;
    top: 4%;
    /* transform: translate(-50%, -50%);
    background: url('../images/fullscreen.png') no-repeat; */
    /* width: 40px;
    height: 40px;  */
    /* opacity: 0; L'icône est initialement invisible */
    /* transition: opacity 0.3s; Ajoute une transition pour une apparition en douceur */
    /* cursor: pointer;  */
  }
  
  .photo-container:hover .icon-fullscreen {
    opacity: 1; /* L'icône devient visible au survol */
  }


  .icon-oeil {
    background-color: pink;
  }
        