.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

    /* Titre du site */

.nom-site {
    font-family: 'space-mono-bolditalic';
    font-size: 6em;
    font-weight: 700;
    line-height: 142px;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;

    position: absolute;
}

/* hero background image */

.hero-container > img {
    width: 100%;
    max-height: 966px;
}

@media all and (max-width: 1000px) {
    .nom-site {
      font-size: 4.5em;
}
}

@media all and (max-width: 800px) {
    .nom-site {
        font-size: 3.5em;
}
}

@media all and (max-width: 620px) {
    .nom-site {
        font-size: 2.5em;
}
}

@media all and (max-width: 440px) {
    .nom-site {
        font-size: 1.6em;
}
}


/* section des filtres */

.filtres-container {
    display: flex;
}

.filtres {
    display: flex;
}



    /* section galerie photos */

.galerie {
    margin: 0 10%;

    display: flex;
    flex-direction: column;
}

.galerie-container {
    columns: 2;
}

.galerie-img img{
    width: 39vw;
    height: 39vw;

    max-height: 567px;
    padding-right: 1%;
}

@media all and (max-width: 540px){

.galerie-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerie-container img, .galerie-img{
    width: 75vw;
    min-height: 75vw;
    padding-top: 18px;
    padding-right: 0;
}
}

    /* galerie icones et txt  */

.galerie-img, .photo-container {
    position: relative;
}

.galerie-img .icon-fullscreen, .photo-container .icon-fullscreen {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 25px;
    right: 25px;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
    
.galerie-img .icon-oeil .icon-fullscreen, .photo-container .icon-oeil .icon-fullscreen {
    display: block;
    margin: 0 auto;
}

.galerie-img .icon-oeil, .photo-container .icon-oeil {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.galerie-img-info {
    position: relative;
    top: -3.5em;
    color: white;
    padding: 0 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galerie-img-info p {
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.galerie-img:hover .icon-oeil, .galerie-img:hover .icon-fullscreen, 
.photo-container:hover .icon-oeil, .photo-container:hover .icon-fullscreen,
.galerie-img-info:hover p {
    opacity: 1;
}


/* bouton "charger plus" */

.galerie-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    margin-top: -20px;
}

.galerie-btn {
    border: transparent;

    font-family: 'space-mono';
    font-size: 12px;
    line-height: 17.77px;
    padding: 8px 15px;

    transition: .2s all;
}

.galerie-btn > img {
    position: absolute;
    left: 42%;
}

.galerie-btn:hover {
    background-color: black;
    transition: .3s all;
    z-index: 1;
    position: relative;
}

@media all and (max-width: 540px){  
    .galerie-btn-container {
        margin-top: 60px;
        margin-bottom: 20px;
    }

}